table{
    border-collapse: collapse;
    font-family: Arial, Helvetica, sans-serif;
    background-color: burlywood;
}

td{
    border: 1px solid black ;
    border-radius: 20px;
    padding: 2px;
}

th{
    border: 1px solid black;
    border-radius: 20px;
    padding: 5px;
    text-align: left;
}