<!DOCTYPE html>
<html>

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="/Filters/filterScript.js"></script>
    <link rel="stylesheet" href="/Filters/filterStyle.css">
</head>

<body ng-app="filterModule" style="font-family: Arial, Helvetica, sans-serif;">
    <div ng-controller="filterController">
        Rows to Filter:
        <input type="number" step="1" min="0" max="5" ng-model="rowLimit" />
        <br />
        Order By: <select ng-model="sortColumn">
                        <option value="name">Name ASC</option>
                        <option value="dateOfBirth">D.O.B ASC</option>
                        <option value="-salary">Salary(-)</option>
                    </select>
        <br />
        <div style="margin-top: 2%;">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>D.O.B</th>
                    <th>Profession</th>
                    <th>Salary</th>
                    <th>Salary(currency)</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="employee in employees | limitTo:rowLimit:0 | orderBy:sortColumn">
                    <td>{{ employee.name | uppercase }}</td>
                    <td>{{ employee.dateOfBirth | date:"dd-MM-yyyy" }}</td>
                    <td>{{ employee.profession | lowercase }}</td>
                    <td>{{ employee.salary | number:2 }}</td>
                    <td>{{ employee.salary | currency:"₹":0}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    </div>

</body>

</html>